/* lab9parta.css - stylesheet for lab9parta.html */

body {
  background-image: linear-gradient(to bottom, pink, lightblue);
}

header {
  text-align: center;
  background-color: cornsilk;
  border: solid;
  width: max-content;
  margin: auto;
}

h1 {
  padding: 5px;
}

tr,
td {
  padding: 10px;
}

legend,
table {
  margin: auto;
}

.center {
  text-align: center;
  margin: auto;
}

.fixed {
  width: min-content;
}

.spacing {
  padding: 5px;
}

img:hover {
  /*increase img x2.67*/
  width: 200px;
  height: 200px;
  transition-duration: 1s;
}

/* overflow: auto; */
